.main{
    
    width: 897px;
    text-align: center;
}
.ayatBloc{
    display: flex;
    justify-content: space-between;
}

.title{
    background-color: #FEFCF4;
    width: 897px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title p{
    align-self: center;
}
.number{
    text-align: left; 
    margin-left: 40px;
    margin-right: 40px;
}
.ayatGroup{
   display: block; 
}
.ayat{
  
    text-align: right;
}
.secondary{
  
    text-align: right;
}